.item {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding-right: 1.2em;
    padding-left: 1.2em;
    border: none;
    background: none;
    font-weight: bold;
    color: #8297AF;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}